<div class="home__container">
  <app-card
     gameCover="assets/bdg-3.jpg"
     gameLabel="DIGITAL"
     gameType="PS5"
     gamePrice="R$ 299,90"
  >
  </app-card>

  <app-card
    gameCover="assets/cod-III.jpg"
    gameLabel="DIGITAL"
    gameType="PS4 | PS5 | EDIÇÃO COFRE"
    gamePrice="R$ 299,00"
  >
  </app-card>

  <app-card
    gameCover="assets/DFS-2.jpg"
    gameLabel="DIGITAL"
    gameType="PS4 | PS5 | ANNUAL PASS"
    gamePrice="R$ 299,00"
  >
  </app-card>

  <app-card
  gameCover="assets/ac-mirage.jpg"
  gameLabel="DIGITAL"
  gameType="PS4 | PS5 | DELUXE EDITION"
  gamePrice="R$ 299,90"
>
</app-card>

</div>
